<!-- views/partials/footer.ejs -->
<hr>

<footer>
    <p class="text-center text-muted">Mediehuset, Tech College, Aalborg</p>
</footer>

<script src="/assets/js/search_filter.js"></script>

</body>
</html>