a, p, li, h1, h2 {
    font-family: Verdana;
}

a {
    color: #00f;
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.1rem;
}

header {
    overflow-y: auto;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            float: left;
            a {
                color: #000;
                border: solid 1px #000;
                background-color: #fff;
                display: block;
                text-decoration: none;
                padding: 10px 15px;
                margin-right: 15px;
                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
}

.list {
    font-size: 0.9rem;
    a {
        text-decoration: none;
        color: #00f;
    }
}

.container {
    display: inline-grid;
    grid-template-columns: 200px auto;
  }
